<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Todo List</title>
    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/public/assets/styles.css">
  </head>
  <body>

    <div id -"todo-table">
      <h1>My todo list </h1>
      <form>
        <input type="text" name="item" placeholder="Add new item... " required>
        <button type="submit" >Add item</button>
      </form>
      <ul>
        <td>
    <%= name %>
</td>

        <li>item 1</li>
          <li>item 2</li>
            <li>item 3</li>
      </ul>
  </body>
</html>
